{port_specs, [
            {"(linux|darwin)", "priv/lib/gen_socket_nif.so", ["c_src/gen_socket_nif.c"]},
            {"(linux|darwin)", "priv/lib/gen_socket.so", ["c_src/gen_socket_drv.c"]}]}.

{pre_hooks,
  [{"(linux|darwin)", compile, "make -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin)", clean, "make -C c_src clean"}]}.
